<p>
  <strong>start_date:</strong>
  <%= @trip.start_date %>
</p>
<p>
  <strong>end_date:</strong>
  <%= @trip.end_date %>
</p>
<p>
  <strong>location:</strong>
  <%= @trip.location %>
</p>

  <%= link_to 'Edit', edit_trip_path %>
  <%= link_to 'All Trips', trips_path %>
