<p>
  <strong>start_date:</strong>
  <%= @trip.start_date %>
</p>
<p>
  <strong>end_date:</strong>
  <%= @trip.end_date %>
</p>
<p>
  <strong>location:</strong>
  <%= @trip.location %>
</p>

<p>
  <% w_api = Wunderground.new %>
  <% @weather = w_api.forecast_for(@trip.location) %>
  <% @forecast = @weather["forecast"]["txt_forecast"]["forecastday"] %>

  <%= @forecast.at(0)["title"]+":" %>
  <%= @forecast.at(0)["fcttext"] %>
  <%= image_tag(@forecast.at(0)["icon_url"]) %>
  <br>
  <%= @forecast.at(2)["title"]+":" %>
  <%= @forecast.at(2)["fcttext"] %>
  <%= image_tag(@forecast.at(2)["icon_url"]) %>
  <br>
  <%= @forecast.at(4)["title"]+":" %>
  <%= @forecast.at(4)["fcttext"] %>
  <%= image_tag(@forecast.at(4)["icon_url"]) %>
  <br>
  <%= @forecast.at(6)["title"]+":" %>
  <%= @forecast.at(6)["fcttext"] %>
  <%= image_tag(@forecast.at(6)["icon_url"]) %>
</p>

<div class="calendar"></div>

<h2>Entries</h2>
  <%= render @trip.entries %>

<h2>Add a Journal Entry:</h2>
  <%= render 'entries/form' %>


  <%= link_to 'Edit', edit_trip_path %>
  <%= link_to 'All Trips', trips_path %>
